@use '../../../styles/common';
@use '../../../styles/text-styles.module';
@use '../../../styles/motion.module';

.author__section {
  @include common.article__section__title__divider;
}

.author__img {
  position: relative; // NextJs Image 경고 제거
  display: flex;
  align-items: center;
  margin-top: 36px;

  @media screen and (max-width: text-styles.$text__first__max__width) {
    margin-top: 32px;
  }

  @media screen and (max-width: text-styles.$text__second__max__width) {
    margin-top: 24px;
  }

  div {
    margin-left: 24px;

    @media screen and (max-width: text-styles.$text__first__max__width) {
      margin-left: 22px;
    }

    @media screen and (max-width: text-styles.$text__second__max__width) {
      margin-left: 20px;
    }
  }

  h4 {
    @include text-styles.body1(500);
  }

  p {
    @include text-styles.body3(400);
    margin-top: 8px;
    color: var(--g2);
  }

  // NextJs Image
  span {
    min-width: 108px;
    width: 108px !important;
    height: 108px !important;
    position: relative !important;
    border-radius: 50%;
    // object-fit: contain;

    @media screen and (max-width: text-styles.$text__first__max__width) {
      min-width: 96px;
      width: 96px !important;
      height: 96px !important;
    }

    @media screen and (max-width: text-styles.$text__second__max__width) {
      min-width: 88px;
      width: 88px !important;
      height: 88px !important;
    }
  }
}

.link {
  @include motion.scale__hover;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border: 1px solid var(--g6);

  padding: 40px 36px;
  margin: 28px 0;

  @media screen and (max-width: text-styles.$text__first__max__width) {
    padding: 36px 32px;
  }

  @media screen and (max-width: text-styles.$text__second__max__width) {
    padding: 28px 20px;
    margin: 16px 0;
  }

  p {
    @include text-styles.body1(500);
    margin-right: 48px;
  }

  svg {
    width: 100%;
    max-width: 24px;
    height: 24px;

    @media screen and (max-width: text-styles.$text__first__max__width) {
      height: 22px;
    }

    @media screen and (max-width: text-styles.$text__second__max__width) {
      height: 20px;
    }
  }
}

.left {
  display: flex;
  align-items: center;
  min-width: 94%;

  .logo {
    display: flex;
    align-items: center;
  }

  p {
    margin-left: 16px;

    @media screen and (max-width: text-styles.$text__first__max__width) {
      margin-left: 12px;
    }

    @media screen and (max-width: text-styles.$text__second__max__width) {
      margin-left: 8px;
    }
  }

  svg {
    width: 100%;
    min-width: 54px;
    max-width: 54px;
    height: 54px;
    border-radius: 12px;

    @media screen and (max-width: text-styles.$text__first__max__width) {
      min-width: 48px;
      height: 48px;
      border-radius: 10px;
    }

    @media screen and (max-width: text-styles.$text__second__max__width) {
      min-width: 40px;
      height: 40px;
      border-radius: 8px;
    }
  }
}
