@use '../../../../styles/text-styles';

.message {
  margin-top: 96px;
  display: flex;
  align-items: center;

  span {
    width: 4px;
    height: 24px;
    background-color: var(--g2);
    margin-right: 10px;
  }

  p {
    @include text-styles.body1;
    margin-top: 2px; // 시각 보정
    color: var(--g2);
    width: 100%;
  }
}
