@use '../../../styles/common';
@use '../../../styles/text-styles.module';

.response__section {
  @include common.article__section__title__divider;
}

@mixin anonymous__profile__left {
  display: flex;
  align-items: center;

  span {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 9px;

    @media screen and (max-width: text-styles.$text__first__max__width) {
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }

    @media screen and (max-width: text-styles.$text__second__max__width) {
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
  }

  p {
    @include text-styles.body2(500);
  }
}
