@use '../../../styles/common';
@use '../../../styles/text-styles.module';

.response__section {
  @include common.article__section__title__divider;
}

@mixin anonymous__profile__left {
  display: flex;
  align-items: center;

  span {
    border-radius: 50%;

    /* 바뀌는 요소 */
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }

  p {
    @include text-styles.body2(500);
  }
}
