@use '../../../../styles/text-styles';
@use '../../../../styles/motion.module';

.editable__link__block__li {
  @include motion.scale__hover;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    p {
      @include text-styles.body1(500);
      margin-right: 48px;
    }

    svg {
      width: 100%;
      max-width: 24px;
      height: 24px;
    }
  }
}

.border__bottom__for__Reference__list__type {
  border-bottom: var(--g10) 1px solid;

  a {
    padding: 72px 0;
  }
}

.box__for__Paragraph__list__type {
  border: var(--g10) 1px solid;
  margin: 48px 0;

  a {
    padding: 48px 36px;
  }
}

.input {
  @include text-styles.body1(500);
  width: 100%;
  height: 48px;
  padding: 0 16px;
}
