@use '../../../../styles/text-styles.module';
@use '../../../../styles/motion.module';

.editable__link__block__li {
  // @include motion.scale__hover;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    p {
      @include text-styles.body1(500);
      margin-right: 48px;
    }

    svg {
      width: 100%;
      max-width: 24px;
      height: 24px;

      @media screen and (max-width: text-styles.$text__first__max__width) {
        height: 22px;
      }

      @media screen and (max-width: text-styles.$text__second__max__width) {
        height: 20px;
      }
    }
  }
}

.editable__link__block__li__hover {
  @include motion.scale__hover;
}

.border__bottom__for__Reference__list__type {
  border-bottom: var(--g6) 1px solid;

  a {
    padding: 72px 0;

    @media screen and (max-width: text-styles.$text__second__max__width) {
      padding: 48px 0;
    }
  }
}

.box__for__Paragraph__list__type {
  border: var(--g6) 1px solid;
  margin: 28px 0 36px;

  @media screen and (max-width: text-styles.$text__first__max__width) {
    margin: 24px 0 32px;
  }

  @media screen and (max-width: text-styles.$text__second__max__width) {
    margin: 20px 0 28px;
  }

  a {
    padding: 48px 36px;

    @media screen and (max-width: text-styles.$text__first__max__width) {
      padding: 44px 32px;
    }

    @media screen and (max-width: text-styles.$text__second__max__width) {
      padding: 32px 24px;
    }
  }
}

.input {
  @include text-styles.body1(500);
  width: 100%;
  height: 48px;
  padding: 0 16px;
}
