@use '../../../styles/text-styles';

.reference__section {
  margin-top: 144px;

  h2 {
    @include text-styles.title2;
    border-bottom: var(--g5) 4px solid;
    padding-bottom: 20px;
    margin-bottom: 6px;
  }

  ul {
    // margin-top: 16px;
  }
}
