:root {
  --g1: #3c3c42;
  --g2: #434246;
  --g3: #545057;
  --g4: #94949c;
  --g5: #aeacb3;
  --g6: #d0ccd6;
  --g7: #e7e6eb;
  --g8: #fbfbfe;

  /* 라이트 모드는 베이지 톤으로 */
  /* primary */
  --p1: #fd4c81;
  --p2: #f53f75;

  /* rgb */
  --p1-rgb: 253, 76, 129;

  /* common */
  --bw: #fff;
}

[data-theme='dark'] {
  --g1: #e1dce7;
  --g2: #bdbac3;
  --g3: #acaab4;
  --g4: #7e7e85;
  --g5: #737075;
  --g6: #4c4b4e;
  --g7: #38383b;
  --g8: #1f1f20;

  /* primary */
  --p1: #9797ff;
  --p2: #8282f1;

  /* rgb */
  --p1-rgb: 151, 151, 255;

  /* common */
  --bw: #000;
}

/* --g1: 제목 색, 기본 색 */
/* --g2: g1과 계층 구조를 만드는 색 */

/* --g3: 글 본문 색 */
/* --g4: 날짜, 캡션 등 --g3와 계층 구조 만드는 색 */

/* --g5: 플레이스 홀더 */
/* --g6: 구분선 색, 작은 구분선 색 */

/* --g7: 약한 버튼 색, 코드 블럭 색 --g8과 계층 구조 만드는 색*/
/* --g8: 배경색 */
