:root {
  --g1: #000000;
  --g2: #1f1f20;
  --g3: #333334;
  --g4: #4c4b4e;
  --g5: #666468;
  --g6: #787779;
  --g7: #99979b;
  --g8: #b3b1b7;
  --g9: #c9c6ce;
  --g10: #e9e6ef;
  --g11: #f4f2f8;
  --g12: #fcfbfe;
  --g13: #ffffff;

  /* primary */
  --p7: #7171fd;
  --p8: #6d6dfa;

  /* rgb */
  --p7-rgb: 113, 113, 253;
}

[data-theme='dark'] {
  --g1: #ffffff;
  --g2: #fcfbfe;
  --g3: #f4f2f8;
  --g4: #e9e6ef;
  --g5: #c9c6ce;
  --g6: #b3b1b7;
  --g7: #99979b;
  --g8: #787779;
  --g9: #666468;
  --g10: #4c4b4e;
  --g11: #333334;
  --g12: #1f1f20;
  --g13: #000000;

  /* primary */
  --p7: #9797ff;
  --p8: #7e7efb;

  /* rgb */
  --p7-rgb: 151, 151, 255;
}

/* --g4: 기본 텍스트 색 */
/* --g7: 날짜, 캡션 등 계층 구조 만드는 색 */
/* --g8: 플레이스 홀더 */
/* --g10: 구분선 색 */
/* --g12: 배경색 */
