:root {
  --g4: #4c4b4e;
  --g5: #666468;
  --g6: #787779;
  --g7: #99979b;
  --g8: #b3b1b7;
  --g10: #e9e6ef;
  --g11: #f4f2f8;
  --g12: #fcfbfe;

  /* 라이트 모드는 베이지 톤으로 */
  /* primary */
  --p7: #7171fd;
  --p8: #6d6dfa;

  /* rgb */
  --p7-rgb: 113, 113, 253;
}

[data-theme='dark'] {
  --g4: #e9e6ef;
  --g5: #c9c6ce;
  --g6: #b3b1b7;
  --g7: #99979b;
  --g8: #787779;
  --g10: #4c4b4e;
  --g11: #333334;
  --g12: #1f1f20;

  /* primary */
  --p7: #9797ff;
  --p8: #7e7efb;

  /* rgb */
  --p7-rgb: 151, 151, 255;
}

/* --g4: 제목 색, 기본 색 */
/* --g5: g4과 계층 구조를 만드는 색 */

/* --g6: 글 본문 색 */
/* --g7: 날짜, 캡션 등 --g6와 계층 구조 만드는 색 */

/* --g8: 플레이스 홀더 */
/* --g10: 구분선 색, 작은 구분선 색 */

/* --g11: 약한 버튼 색, 코드 블럭 색 --g12과 계층 구조 만드는 색*/
/* --g12: 배경색 */
