@use 'text-styles.module';

$list__max__width: 640px;
$post__max__width: 760px;

// for responsive design
$post__list__media__max__width: 704px; // 640 + 32 + 32
$post__media__max__width: 824px; // 760 + 32 + 32 - 상하단 마진 위해
$footer__media__max__width: 1500px;

$main__layout__padding: 0 4vw;

// z-index
$modal__common__background__z__index: 10;
$modal__z__index: 11;

// :export {
//   list__max__width: $list__max__width;
//   post__max__width: $post__max__width;

//   post__list__media__max__width: $post__list__media__max__width;
//   post__media__max__width: $post__media__max__width;
//   footer__media__max__width: $footer__media__max__width;

//   text__first__max__width: $text__first__max__width;
//   text__second__max__width: $text__second__max__width;
//   main__layout__padding: $main__layout__padding;
// }

@mixin placeholder {
  &:empty:before {
    content: attr(placeholder);
    color: var(--g5);
    display: inline-block;
  }
}

@mixin article__section__title__divider {
  margin-top: 144px;

  h2 {
    @include text-styles.title2;
    border-bottom: var(--g2) 4px solid;
    padding-bottom: 20px;
  }
}

@mixin admin__button {
  @include text-styles.body3;
  position: fixed;
  bottom: 48px;
  padding: 12px 24px;
  background-color: var(--g7);
  border-radius: 16px;
}

.admin__button__left {
  @include admin__button;
  left: 4vw;
}

.admin__button__right {
  @include admin__button;
  right: 4vw;
}
