/* S of Noto Sans KR */
@font-face {
  font-family: 'BlogTextStyles';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/NotoSansKR/NotoSansKR-Regular.woff2') format('woff2'),
    url('/fonts/NotoSansKR/NotoSansKR-Regular.woff') format('woff');
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'BlogTextStyles';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/NotoSansKR/NotoSansKR-Medium.woff2') format('woff2'),
    url('/fonts/NotoSansKR/NotoSansKR-Medium.woff') format('woff');
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'BlogTextStyles';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/NotoSansKR/NotoSansKR-Bold.woff2') format('woff2'),
    url('/fonts/NotoSansKR/NotoSansKR-Bold.woff') format('woff');
  unicode-range: U+AC00-D7A3;
}
/* E of Noto Sans KR */

/* S of Open Sans */
@font-face {
  font-family: 'BlogTextStyles';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/OpenSans/open-sans-v27-latin-regular.woff2') format('woff2'),
    url('/fonts/OpenSans/open-sans-v27-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'BlogTextStyles';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/OpenSans/open-sans-v27-latin-500.woff2') format('woff2'),
    url('/fonts/OpenSans/open-sans-v27-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'BlogTextStyles';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/OpenSans/open-sans-v27-latin-700.woff2') format('woff2'),
    url('/fonts/OpenSans/open-sans-v27-latin-700.woff') format('woff');
}
/* E of Open Sans */

/* S of Source Code Pro */
@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SourceCodePro/source-code-pro-v18-latin-regular.woff2')
      format('woff2'),
    url('/fonts/SourceCodePro/source-code-pro-v18-latin-regular.woff')
      format('woff');
}

@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/SourceCodePro/source-code-pro-v18-latin-500.woff2')
      format('woff2'),
    url('/fonts/SourceCodePro/source-code-pro-v18-latin-500.woff')
      format('woff');
}

@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/SourceCodePro/source-code-pro-v18-latin-700.woff2')
      format('woff2'),
    url('/fonts/SourceCodePro/source-code-pro-v18-latin-700.woff')
      format('woff');
}
/* E of Source Code Pro */
