button {
  /* unset이 있으므로 첫 번째 */
  all: unset;
  cursor: pointer;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--g8);

  /* 판독성 최적화 */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* iOS Safari Momentum Scroll, 버벅임 방지 */
  -webkit-overflow-scrolling: touch;
}

body {
  user-select: none;
}

* {
  padding: 0;
  margin: 0;
  caret-color: var(--g1);
  outline-style: none;
  box-sizing: border-box;
  font-family: 'BlogTextStyles', Apple SD Gothic Neo, Noto Sans KR, Inter,
    system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
li {
  color: var(--g1);
}

h1,
h2,
h3,
h4,
h5,
h6,
code {
  word-break: keep-all;
}

/* For Table of Contents */
h2,
h3 {
  scroll-margin-top: 96px;
}

p {
  word-break: break-word;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  /* iOS에서 a tag long touch 시 나오는 모달 막기 */
  -webkit-touch-callout: none;
}

a,
button,
input,
select,
textarea {
  outline-style: none;
}

ul,
ol,
li {
  list-style: none;
}
