html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--g12);
  color: var(--g4);
  user-select: none;
}

* {
  padding: 0;
  margin: 0;
  outline-style: none;
  box-sizing: border-box;
  font-family: 'BlogTextStyles', Apple SD Gothic Neo, Noto Sans KR, Inter,
    system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: keep-all;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  /* iOS에서 a tag long touch 시 나오는 모달 막기 */
  -webkit-touch-callout: none;
}

a:link,
a:visited,
a:hover,
a:active {
  /* color: transparent; */
  -webkit-tap-highlight-color: transparent;
}

button {
  all: unset;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

ul,
ol,
li {
  list-style: none;
}

code {
  font-family: 'SourceCodePro', Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

/* 글 속에만 적용되도록 <code> html 생성 시 class도 지정, <code class="inline__code__block"> */
/* editable-text-block, editable-link-block */
/* post-css autoprefix 적용 안 됨. */
.inline__code__block {
  background-color: var(--g8);
  color: var(--g2);
  padding: 4px;
  border-radius: 4px;
}
