html,
body {
  padding: 0;
  margin: 0;
  background-color: #343434;
  color: aliceblue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  outline-style: none;
  box-sizing: border-box;
}

/* font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace; */
