/**
*
* Title 500, 700
*
**/
@mixin title1($weight: 700) {
  font-size: 43px;
  font-weight: $weight;
  // line-height: ~;

  @media screen and (max-width: 1350px) {
  }
}

.title1__700 {
  @include title1;
}

.title1__500 {
  @include title1(500);
}

@mixin title2($weight: 700) {
  font-size: 33px;
  font-weight: $weight;
  // line-height: ~;

  @media screen and (max-width: 1350px) {
  }
}

.title2__700 {
  @include title2;
}

.title2__500 {
  @include title2(500);
}

@mixin title3($weight: 700) {
  font-size: 27px;
  font-weight: $weight;
  // line-height: ~;

  @media screen and (max-width: 1350px) {
  }
}

.title3__700 {
  @include title3;
}

.title3__500 {
  @include title3(500);
}
/**
*
* Title
*
**/
/****************************************************************
****************************************************************
****************************************************************/
/**
*
* Body 400, 500
*
**/
@mixin body1($weight: 400) {
  font-size: 21px;
  font-weight: $weight;
  // line-height: ~;

  @media screen and (max-width: 1350px) {
  }
}

.body1__400 {
  @include body1;
}

.body1__500 {
  @include body1($weight: 500);
}

@mixin body2($weight: 400) {
  font-size: 19px;
  font-weight: $weight;
  // line-height: ~;

  @media screen and (max-width: 1350px) {
  }
}

.body2__400 {
  @include body2;
}

.body2__500 {
  @include body2($weight: 500);
}

@mixin body3($weight: 400) {
  font-size: 17px;
  font-weight: $weight;
  // line-height: ~;

  @media screen and (max-width: 1350px) {
  }
}

.body3__400 {
  @include body3;
}

.body3__500 {
  @include body3($weight: 500);
}

@mixin body4($weight: 400) {
  font-size: 14px;
  font-weight: $weight;
  // line-height: ~;

  @media screen and (max-width: 1350px) {
  }
}

.body4__400 {
  @include body4;
}

.body4__500 {
  @include body4($weight: 500);
}
/**
*
* Body
*
**/
