.code__block {
  pre {
    background: rgba(33, 37, 41) !important;
    /* border-radius: 16px; */
    margin: 0 0 0 !important; // Remove default setting
    padding: 48px 48px 36px !important;
    /* max-width: 800px !important; */
    @media all and (max-width: 767px) {
      margin: 16px 0 0 !important; // Remove default setting
      padding: 36px !important;
      max-width: 91vw !important;
    }
    ::-webkit-scrollbar {
      background-color: var(--bg);
    }
    ::-webkit-scrollbar-corner {
      background-color: var(--bg);
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: var(--fg);
      min-height: 24px;
      border: 3px solid var(--bg);
    }
  }

  span {
    text-align: left;
    font-family: Menlo, Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono',
      'Courier New', monospace !important;
    // font-size: 16px;
    // @media all and (max-width: 767px) {
    //   font-size: 13px;
    // }
  }
}
