@use '../motion';

.rotate {
  animation: 0.4s motion.$bezier__1 rotate;
  animation-fill-mode: forwards;
}

.rotate__reverse {
  animation: 0.4s motion.$bezier__1 rotate__reverse;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  from {
    transform: rotateZ(0turn);
  }

  to {
    transform: rotateZ(0.5turn);
  }
}

@keyframes rotate__reverse {
  from {
    transform: rotateZ(0.5turn);
  }

  to {
    transform: rotateZ(0turn);
  }
}
