@use '../../../../styles/text-styles';

.figure {
  position: relative; // NextJs Image 경고 제거
  margin: 48px 0 96px;
  width: 100%;
  height: 100%;
  display: block;

  figcaption {
    @include text-styles.body3;
    margin-top: 8px;
    color: var(--g4);
  }

  // NextJs Image
  span:nth-child(1) {
    position: relative !important;

    img {
      width: 100% !important;
      height: 100% !important;
      position: relative !important;
    }
  }
}

.upload__image__label {
  position: absolute;
  top: 2px;
  right: -164px;

  @include text-styles.body3;
  padding: 12px 24px;
  background-color: var(--g7);
  border-radius: 16px;

  p {
    color: var(--g1);
  }
}
