@use '../../../../styles/text-styles.module';
@use '../../../../styles/motion.module';

.figure {
  position: relative; // NextJs Image 경고 제거
  margin: 24px 0 48px;
  width: 100%;
  height: 100%;
  display: block;

  @media screen and (max-width: text-styles.$text__first__max__width) {
    margin: 20px 0 48px;
  }

  @media screen and (max-width: text-styles.$text__second__max__width) {
    margin: 16px 0 48px;
  }

  figcaption {
    @include text-styles.body3;
    margin: 12px 2px 0; // + 시각 보정
    color: var(--g4);
  }

  // NextJs Image
  span:nth-child(1) {
    position: relative !important;

    img {
      width: 100% !important;
      height: 100% !important;
      position: relative !important;
    }
  }
}

.upload__image__label {
  position: absolute;
  top: 2px;
  right: -164px;

  @include text-styles.body3;
  @include motion.scale__hover;
  padding: 12px 24px;
  background-color: var(--g7);
  border-radius: 16px;
}
