@use '../../styles/motion.module';
@use '../../styles/common';
@use '../../styles/text-styles';

@mixin header__height {
  height: 64px;

  @media screen and (max-width: 1350px) {
  }
}

.header {
  @include header__height;
  padding: common.$header__footer__padding;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--g8);
  border-bottom: var(--g6) 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__height__for__layout__under__fixed__header {
  @include header__height;
  position: relative;
  width: 100%;
  z-index: -1;
}

.blog__name {
  @include text-styles.body2(500);
  letter-spacing: 0.6px;
  display: flex;
}

.admin___text {
  @include text-styles.body2(500);
  color: var(--g5);
  margin-left: 6px;
}

.right {
  display: flex;
  height: 100%;
}

.nav {
  margin-right: 36px;
  height: 100%;

  ul {
    display: flex;
    height: 100%;
  }
}

.list {
  width: 120px;
  position: relative;
  @include motion.opacity__hover;

  a {
    @include text-styles.body3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1px; // 시각 보정
  }
}

.selected__list {
  a {
    @include text-styles.body3(500);
    color: var(--p7);
    transition: 0.1s;
  }
}

.under__line {
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -1px;
  display: flex; // key
  background-color: var(--p7);
}

.under__line__motion {
  animation: under__line__animation 0.3s motion.$bezier__1 forwards;
}

@keyframes under__line__animation {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.theme__toggle {
  display: flex;
  align-items: center;

  svg {
    // padding으로 터치 영역, 클릭 영역, 애니메이션 활성화 영역 설정 -> SVG에서도 width, height 설정
    padding: 12px;
    margin: 0 -12px;
    @include motion.rotate__hover;
  }
}
