@import '../../interactions/motion.module.scss';

.header {
  width: 100%;
  height: 64px;
  padding: 0 4.5vw;
  background-color: var(--g12);
  border-bottom: var(--g10) 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.blog__name {
  letter-spacing: 0.6px;
}

.right {
  display: flex;
  height: 100%;
}

.nav {
  margin-right: 36px;
  height: 100%;

  ul {
    display: flex;
    height: 100%;
  }
}

.list {
  width: 112px;
  position: relative;

  @media (hover: hover) {
    &:hover {
      background-color: rgba(var(--p7-rgb), 0.1);
      transition: background-color 0.4s $bezier-1;
    }
  }

  &:active {
    background-color: rgba(var(--p7-rgb), 0.2);
    transition: background-color 0.4s $bezier-1;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1px; // 시각 보정
  }
}

.selected__list {
  position: relative;

  a {
    color: var(--p8);
    transition: 0.1s;
  }
}

.under__line__motion {
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -1px;
  display: flex; // key
  background-color: var(--p7);
  animation: under__line__animation 0.3s $bezier-1 forwards;
}

@keyframes under__line__animation {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.theme__toggle {
  display: flex;
  align-items: center;

  svg {
    // padding으로 터치 영역, 클릭 영역, 애니메이션 활성화 영역 설정 -> SVG에서도 width, height 설정
    padding: 12px;
    margin: 0 -12px;
    @include rotate__hover;
  }
}
