@use '../../../../styles/common';
@use '../../../../styles/text-styles';

.article__title__section {
  time {
    color: var(--g7);
    margin-left: 2px; // 시각 보정
    @include text-styles.body3;
  }

  h1 {
    margin-top: 6px;
  }
}

.profile__a {
  margin-top: 24px;
  margin-left: 1px; // 시각 보정
  display: flex;
  align-items: center;
  position: relative; // NextJs Image 경고 제거

  // NextJs Image
  span:nth-child(1) {
    width: 36px !important;
    height: 36px !important;
    position: relative !important;
    border-radius: 50%;
    // object-fit: contain;
  }

  p {
    @include text-styles.body3;
  }

  p:nth-child(2) {
    margin-left: 12px;
  }
}

.circle__divider {
  border-radius: 50%;
  width: 2px;
  height: 2px;
  background-color: var(--g4);
  margin: 0 6px;
}
