@use '../../../interactions/motion.module';
@use '../../../styles/text-styles';

.post__list {
  border-bottom: var(--g10) 1px solid;
  display: flex;
  height: 100%;
  cursor: pointer;
  @include motion.scale__hover;

  a {
    padding: 36px 0;
    margin: 60px 0;
    width: 100%;
  }

  time {
    color: var(--g7);
    margin-left: 2px; // 시각 보정
    @include text-styles.body4;
  }

  h1 {
    margin-top: 12px; // 터치 영역 위해
    @include text-styles.title2(500);
  }
}
