@use '../../../styles/common';
@use '../../../styles/motion.module';
@use '../../../styles/text-styles.module';

.post__list__main__layout {
  margin: 0 auto 180px;
  max-width: common.$list__max__width;

  @media screen and (max-width: common.$post__list__media__max__width) {
    padding: common.$main__layout__padding;
  }
}

.category__filter__nav {
  margin: 96px auto 0;
  max-width: common.$list__max__width;
  display: flex;

  @media screen and (max-width: common.$post__list__media__max__width) {
    padding: common.$main__layout__padding;
  }

  @media screen and (max-width: text-styles.$text__second__max__width) {
    margin: 24px auto 0;
  }

  a {
    padding: 8px 12px;
    border: 1px solid var(--g6);
    @include motion.opacity__p__color__hover;

    @media screen and (max-width: text-styles.$text__second__max__width) {
      padding: 6px 10px;
    }
  }

  a:nth-child(2) {
    margin-left: 12px;
  }

  a:nth-child(3) {
    margin-left: 12px;
  }
}

.category__filter__selected {
  color: var(--p2);
  border: 1px solid var(--p1) !important;
  font-weight: 500;
}
