@use '../../../../styles/text-styles.module';
@use '../../../../styles/motion.module';
@use '../response.module';

.write__response {
  margin-top: 72px;

  @media screen and (max-width: text-styles.$text__first__max__width) {
    margin-top: 64px;
  }

  @media screen and (max-width: text-styles.$text__second__max__width) {
    margin-top: 48px;
  }

  textarea {
    @include text-styles.body1;
    margin-top: 24px;
    color: var(--g1);
    border-radius: 0; // 초기화

    -webkit-appearance: none; // remove iOS upper inner shadow
    resize: none; // 늘이고 줄이는 기능 없애기
    line-height: 1.7; // line-height 있어야 글씨 쓰기 시작할 때 네모가 바뀌지 않음.

    overflow: hidden;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--g6) !important; // 안드로이드 삼성 인터넷에서 작동 안 해서 !important
    padding: 32px;

    @media screen and (max-width: text-styles.$text__first__max__width) {
      margin-top: 20px;
      padding: 24px;
    }

    @media screen and (max-width: text-styles.$text__second__max__width) {
      margin-top: 16px;
      padding: 20px;
    }
  }

  textarea::placeholder {
    color: var(--g5);
  }
}

.response__submit__button {
  @include text-styles.body1;
  width: 100%;
  padding: 18px 0;
  margin-top: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--g5);
  border: 1px solid var(--g6);
  transition: color 0.4s ease-in-out, border 0.4s ease-in-out;

  @media screen and (max-width: text-styles.$text__first__max__width) {
    padding: 16px 0;
    margin-top: 12px;
  }

  @media screen and (max-width: text-styles.$text__second__max__width) {
    padding: 14px 0;
    margin-top: 8px;
  }
}

.active__response__submit__button {
  @include motion.scale__hover;
  font-weight: 500;
  color: var(--g1);
  border: 1px solid var(--g1);
}

.anonymous__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    @include text-styles.body2(500);
    @include motion.scale__hover;
    padding-right: 2px; // 시각 보정 + 터치 영역
  }
}

.anonymous__profile__left__div {
  @include response.anonymous__profile__left;
}
