@use '../../styles/text-styles.module';
@use '../../styles/common';

.footer {
  padding: common.$main__layout__padding;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: common.$footer__bottom__margin;
  left: 0;
  right: 0;

  @media screen and (max-width: common.$footer__media__max__width) {
    padding: common.$main__layout__padding;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    margin: -96px auto 196px;
  }
}

@mixin divider {
  &:before {
    content: '';
    display: inline-block;
    background-color: var(--g6);
    width: 1px;
    height: 10px;
    margin: 0 8px;

    @media screen and (max-width: common.$footer__media__max__width) {
      height: 12px;
      margin: 0 24px;
    }

    @media screen and (max-width: text-styles.$text__second__max__width) {
      height: 10px;
      margin: 0 12px;
    }
  }
}

.left__side {
  @include text-styles.body4(500);
  display: flex;
  align-items: flex-end;
  margin-left: 2px;

  p {
    color: var(--g4);
  }

  .total {
    @include divider;
  }

  @media screen and (max-width: common.$footer__media__max__width) {
    display: none;
  }
}

.right__side {
  text-align: right;
  margin-right: 2px;

  @media screen and (max-width: common.$footer__media__max__width) {
    text-align: center;
    margin-right: 0px;
  }

  ul {
    @include text-styles.body4(500);
    display: flex;
    justify-content: flex-end;

    li:nth-child(2) {
      @include divider;
    }

    li:nth-child(3) {
      @include divider;
    }

    @media screen and (max-width: common.$footer__media__max__width) {
      justify-content: center;
    }
  }
}

.right__side__copyright {
  @include text-styles.body4;
  color: var(--g4);
  margin-top: 8px;

  @media screen and (max-width: common.$footer__media__max__width) {
    margin-top: 24px;
  }

  @media screen and (max-width: text-styles.$text__second__max__width) {
    margin-top: 16px;
  }
}
