@use '../../styles/common';
@use '../../styles/text-styles.module';

.post__main {
  max-width: common.$post__max__width;
  margin: 144px auto 240px;
  // overflow-x: hidden; // 갤럭시 가로 스크롤 방지 > 링크 블럭 호버 시 문제 생김!

  @media screen and (max-width: common.$post__media__max__width) {
    padding: common.$main__layout__padding;
  }

  @media screen and (max-width: text-styles.$text__first__max__width) {
    margin: 72px auto 144px;
  }

  @media screen and (max-width: text-styles.$text__second__max__width) {
    margin: 36px auto 96px;
  }
}
