.heading2 {
  margin-top: 144px;
}

.heading3 {
  margin-top: 144px;
}

.paragraph {
  color: var(--g3);
  line-height: 1.75;
  letter-spacing: -0.1px;
  margin-top: 24px;

  code {
    font-weight: 500;
  }
}
