$bezier-1: cubic-bezier(0.2, 0.6, 0.35, 1);

@mixin rotate__hover() {
  transform: rotateZ(0turn);
  transition: transform 0.4s $bezier-1;

  @media (hover: hover) {
    &:hover {
      transform: rotateZ(0.5turn);
      transition: transform 0.4s $bezier-1;
    }
  }

  @include scale__avtive();
}

@mixin scale__avtive() {
  &:active {
    transform: scale(0.8);
    opacity: 0.9;
    transition: transform 0.4s, opacity 0.3s $bezier-1;
  }
}
