$bezier-1: cubic-bezier(0.21, 0.6, 0.35, 1);

.rotate {
  animation: 0.4s $bezier-1 rotate;
  animation-fill-mode: forwards;
}

.rotate__reverse {
  animation: 0.4s $bezier-1 rotate__reverse;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  from {
    transform: rotateZ(0turn);
  }

  to {
    transform: rotateZ(0.5turn);
  }
}

@keyframes rotate__reverse {
  from {
    transform: rotateZ(0.5turn);
  }

  to {
    transform: rotateZ(0turn);
  }
}

.hover__rotate {
  :hover {
    transform: rotateZ(0.5turn);
    // transition: transform 0.4s $bezier-1;
  }
}
