@use '../../styles/common';

.editable__element {
  @include common.placeholder;
}

.edit__block__type__editable__element__switch {
  position: relative;
  top: 55px;
  left: -144px;
  width: 87px;
}

.currentIndex {
  position: absolute;
  left: -36px;
  bottom: 1px;
}
